/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  width: 100wv;
  color: var(--text-color);
  font-family: var(--font-family);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--border-color);
  pointer-events: none;
}

.decorated-zone {
  position: relative;
  height: 100vh;
  margin: 10px;
}

.header__theme-menu {
  gap: 10px;
  text-align: right;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: var(--rec-padding);
}

.header__lamp {
  display: var(--rec-display);
  position: relative;
  padding-inline-end: 25px;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
}

.header__lamp::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  min-width: 9px;
  min-height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.corners::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0px;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.corners::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 1px;
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  color: var(--text-color);
  font-size: 18px;
  line-height: 25px;
  background-color: transparent;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-color);
  border: none;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--accent-color);
}

.header__heading-text {
  color: var(--text-heading-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px #ff0070;
  padding-block: 70px 55px;
}

.header__heading-info {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  max-inline-size: 353px;
  max-height: 117px;
  padding-right: 30px;
}

.title-decor {
  color: var(--text-title-color);
  background-color: var(--accent-color);
}

.content {
  display: grid;
  justify-content: center;
  margin: 0 10px;
  gap: 47px;
  margin-block-start: 30px;
  margin-block-end: 50px;
}

.cells {
  display: grid;
  gap: 18px;
}

.content__details-text {
  margin-top: 10px;
  color: var(--text-info-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-style: normal;
}

.content__details-title {
  color: var(--details-text-color);
  font-size: 18px;
  line-height: 23px;
  max-inline-size: 355px;
  margin-block-end: 20px;
}

.content__details-title-main {
  color: var(--details-text-color);
  font-size: 18px;
  line-height: 23px;
  max-inline-size: 355px;
  margin-block: 0 5px;
}

.content__details-title-main:nth-child(2) {
  margin-block: 0;
}

.content__details-text-site {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__details-text-site:hover {
  border-bottom: 1px solid var(--text-info-color);
}

.content__details-text-site:focus-visible {
  border: 1px solid var(--text-info-color);
  outline: none;
}

.content__deatils-table {
  display: grid;
  gap: 20px;
  margin-block-start: 20px;
}

.content__details-main {
  font-size: 18px;
  line-height: 23px;
}

.table-title {
  margin-block: 5px 21px;
}

.table-text {
  font-weight: 400;
}

.info-block {
  display: grid;
  gap: 20px;
}

.content__details-subject-last {
  margin-block-end: 10px;
}

.gallery {
  display: grid;
  align-items: start;
}

.content__details-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__details-gallery-image {
  display: block;
  width: 355px;
  margin-block-end: 10px;
  object-fit: cover;
  margin: 0 auto;
}

.footer {
  position: relative;
  height: 100vh;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  min-height: 668px;
}

.footer__heading-text {
  color: var(--text-heading-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px #ff0070;
  margin-block-start: 280px;
}

@media (width >= 768px) {
  .decorated-zone {
    height: 100vh;
    margin: 20px 20px 0 20px;
    margin-block-end: 60px;
  }

  .cells {
    gap: 20px;
    grid-template-columns: 236px 472px;
    align-items: start;
  }

  .header__theme-menu-list {
    padding-block-start: var(--head-padding);
  }

  .header__heading-info {
    max-width: 364px;
    margin-left: auto;
    padding-right: 60px;
  }

  .header__heading-text {
    padding-block-start: 0px;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block: 175px 110px;
  }

  .content {
    gap: 80px;
    margin: 20px;
    margin-block-end: 55px;
  }

  .content__details-main {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .info-block {
    grid-column: 2 / 3;
    gap: 0;
  }

  .text-block:last-child {
    margin-block-start: 0px;
  }

  .content__details-title-main {
    grid-row: 1 / 2;
    max-inline-size: 236px;
  }

  .table-title {
    margin-block-start: 0;
  }

  .table-text {
    font-weight: 400;
    margin-block-start: 20px;
  }

  .text-block {
    grid-column: 2 / 3;
  }

  .content__details-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 10px;
  }

  .sunset-image {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    max-height: 192px;
  }

  .ice-image {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape-image {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books-image {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street-image {
    grid-column: 2 / 4;
  }

  .content__details-gallery-image {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .footer {
    margin: 20px;
    padding-block-start: 160px;
    height: 100vh;
  }

  .footer__heading-text {
    margin-block-start: 305px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .decorated-zone {
    max-height: 1024px;
    margin-block-end: 40px;
  }

  .content {
    margin: 20px;
    gap: 80px;
    margin-block-end: 75px;
  }

  .content__deatils-table {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    gap: 20px;
    justify-content: center;
  }

  .content__details-subject {
    margin-block-end: 10px;
  }

  .table-title {
    margin-block-start: 0;
  }

  .content__deatils-table-part {
    max-width: 315px;
  }

  .cells {
    justify-content: center;
    grid-template-columns: 315px 649px;
  }

  .header__lamp {
    position: absolute;
  }

  .header__heading-text {
    padding-block: 0;
    margin-block: 280px 110px;
  }

  .header__heading-info {
    max-inline-size: 491px;
    padding-right: 0;
  }

  .header__theme-menu {
    display: flex;
    flex-direction: row-reverse;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-block-start: 0;
    padding-block-end: 0;
  }

  .content__details-title {
    max-inline-size: 315px;
  }

  .text-block {
    max-inline-size: 649px;
  }

  .text-block .content__details-subject:first-child {
    margin-block-end: 10px;
  }

  .content__details-title-main {
    max-inline-size: 315px;
    margin-block-end: 10px;
  }

  .sunset-image {
    max-height: 260px;
  }

  .footer {
    height: 100vh;
    /* min-height: 748px; */
    margin-bottom: 0;
  }

  .footer__heading-text {
    margin-block-start: 140px;
    margin-block-end: 0;
  }
}
