/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --font-family: "IBM Plex mono", sans-serif;
  --text-color: #ff0070;
  --accent-color: #ff0070;
  --rec-display: inline-block;
  --rec-padding: 40px;
  --head-padding: 105px;
  --text-info-color: #f1b2ce;
  --text-heading-color: #db00ff;
  --border-color: rgba(255, 0, 112, 0.4);
  --text-title-color: #000028;
  --details-text-color: #ff0070;
  --title-padding: 20px;
  --decor-margin: 10px;
  --accent-padding: 40px;
}
